[submodule "plugins/Help"]
	path = plugins/Help
	url = https://github.com/MMPlugins/Help.git
[submodule "plugins/CloseAddons"]
	path = plugins/CloseAddons
	url = https://github.com/MMPlugins/CloseAddons.git
[submodule "plugins/EmbedMessages"]
	path = plugins/EmbedMessages
	url = https://github.com/MMPlugins/EmbedMessages.git
[submodule "plugins/HexedHelp"]
	path = plugins/HexedHelp
	url = https://github.com/MMPlugins/HexedHelp.git
[submodule "plugins/LogSearch"]
	path = plugins/LogSearch
	url = https://github.com/MMPlugins/LogSearch.git
[submodule "plugins/replyPrefix"]
	path = plugins/replyPrefix
	url = https://github.com/MMPlugins/replyPrefix.git
[submodule "plugins/MMEmergencyLink"]
	path = plugins/MMEmergencyLink
	url = https://github.com/DarkView/MMEmergencyLink.git
[submodule "plugins/modmailbot-formatter"]
	path = plugins/modmailbot-formatter
	url = https://github.com/funkyhippo/modmailbot-formatter.git
[submodule "plugins/Ping"]
	path = plugins/Ping
	url = https://github.com/MMPlugins/Ping.git
[submodule "plugins/ReactionThreads"]
	path = plugins/ReactionThreads
	url = https://github.com/joramkempf/ReactionThreads.git
	branch = env
